<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="list-group list-group-horizontal">
            <a href="#" class="list-group-item active">Item One<span class="badge">42</span></a>
            <a href="#" class="list-group-item">Item Two<span class="badge">4</span></a>
            <a href="#" class="list-group-item">Item Three<span class="badge">2</span></a>
            <a href="#" class="list-group-item">Item Four<span class="badge">22</span></a>
        </div>
    </div>
</div>